@import "../../../style/variables.scss";

.answerContent {
  width: 160px;
  height: 144px;
  border: 1px solid #e2e6f5;
  border-radius: 4px;
  background-color: $white;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .icon {
    width: 60px;
    height: 60px;
    background-color: $purple;
    opacity: 0.5;
    border-radius: 4px;
  }
}
.active {
  border: 2px solid $purple;
}
