@import "../../variables.scss";

.buttonContainer {
  button {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: $purple;
    color: white;
  }
  .light {
    color: $purple;
    background-color: $white;
  }
}
