@import "../../style/variables.scss";

#bannerEcv {
  button {
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: $purple;
    color: white;
  }
  .light {
    color: $blue;
    background-color: transparent;
  }
}
