@import "../variables.scss";

.bannerContainer {
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  color: $white;
  font-size: 12px;
  font-weight: 400;
  margin: auto;
  img {
    height: 100%;
  }
  .text {
    padding: 25px 20px;
    .title {
      color: $white;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
