@import "@/variables.scss";

.popinContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: $beige;
  overflow: auto;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row-reverse;

  > .steps {
    flex: 1;
    max-width: 100%;
  }
  > .video {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100%;
    @media screen and (min-width: 920px) {
      display: block;
      width: 40%;
    }
  }
}
