@import "@/variables.scss";

.result {
  margin-top: 86px;
  width: 100vw;
  text-align: center;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
  }
  .log {
    padding: 0 20px;
    color: $blue;
    font-weight: 400;
    font-size: 14px;
    span {
      color: $purple;
    }
  }
  .title {
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    span {
      color: $purple;
    }
  }
  .reco {
    .cards {
      margin: 50px 0;
      width: min-content;
      display: flex;
      overflow-x: scroll;
      margin: auto;
      padding-left: 20px;
      .resultCard {
        height: 380px;
        margin-right: 10px;
      }
    }
    @media screen and (min-width: 1280px) {
      width: 66.66%;
      display: inline-flex;
      flex-direction: column-reverse;
      margin: auto;
      .cards {
        width: unset;
        margin-bottom: 50px;
      }
    }
  }

  .graph {
    margin-top: 50px;
    padding: 20px 0;
    .profile {
      color: $purple;
      font-weight: 500;
      font-size: 11px;
      margin-top: 50px;
      display: none;
    }
    .log {
      padding: 20px;
      margin-bottom: 50px;
    }
    .pref {
      margin-bottom: 25px;
    }
    .graphs {
      width: min-content;
      display: flex;
      overflow-x: scroll;
      padding-left: 20px;
      margin: auto;
    }
    .profileChart {
      margin-right: 10px;
      height: 415px;
      max-width: 275px;
    }
    @media screen and (min-width: 1280px) {
      background-color: rgba($purple, 0.05);
      width: 33.33%;
      margin-top: -86px;
      z-index: 2;
      height: 100vh;
      .title {
        margin: 0;
        padding-bottom: 0;
      }
      .profile {
        display: block;
      }
      .graphs {
        width: fit-content;
      }
      .profileChart {
        max-width: 350px;
      }
    }
  }

  .graphsContainer {
    overflow-x: scroll;
  }
}
