@import "@/variables.scss";

.result {
  margin-top: 86px;
  padding: 20px 0;
  width: 100vw;
  text-align: center;
  .log {
    padding: 0 20px;
    color: $blue;
    font-weight: 400;
    font-size: 14px;
    span {
      color: $purple;
    }
  }
  .title {
    padding: 0 20px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    span {
      color: $purple;
    }
  }
  .cards {
    margin-top: 50px;
    width: min-content;
    display: flex;
    overflow-x: scroll;
    padding-left: 20px;
    .resultCard {
      height: 380px;
      margin-right: 10px;
    }
  }
  .graph {
    .log {
      padding: 20px;
      margin-bottom: 50px;
    }
    .graphs {
      width: min-content;
      display: flex;
      overflow-x: scroll;
      padding-left: 20px;
      .profileChart {
        margin-right: 10px;
        height: 415px;
        max-width: 275px;
      }
    }
  }
  .graphsContainer {
    overflow-x: scroll;
  }
}
