@import "../../../../../variables.scss";

.answerContent {
  border: 2px solid #e2e6f5;
  padding: 24px;
  border-radius: 4px;
  background-color: $white;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 12px;

  .icon {
    width: 60px;
    height: 60px;
    background-color: $purple;
    opacity: 0.5;
    border-radius: 4px;
  }

  .answerDescription {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.isActive {
  border: 2px solid $purple;
}
