.rootSteps {
  padding: 142px 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;

  &.result {
    padding-top: 82px;

    @media screen and (min-width: 920px) {
      padding: 0;
    }
  }
}
