$purple: #7a1047;
$lightPurple: rgba(122, 16, 71, 0.5);
$beige: #fffbfa;
$white: #fff;
$blue: #646b8e;
$green: #0acb81;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
